<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <connectionStrings>
    <add name="gsb-gestionConnectionString" connectionString="Data Source=ADMIN-PC\SQLSERVER;Initial Catalog=gsb-gestion;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.6.1" />
    <httpRuntime targetFramework="4.6.1" />
  </system.web>

</configuration>
